#registry = http://10.50.31.211:18081/repository/npm-hosted/
#proxy = http://10.50.31.211:18081/repository/npm-proxy/
registry = http://10.50.31.211:18081/repository/npm-group/
sass_binary_path=/Users/sh007/workspace/element/win32-x64-83_binding.node
# sass_binary_site=http://10.50.31.211:18081/repository/npm-node-sass/

SKIP_SASS_BINARY_DOWNLOAD_FOR_CI = true
SKIP_NODE_SASS_TESTS = true
_auth=eWFvbG9uZy55ZTp5YW9sb25nMTIzNDU=
always-auth=true
